table {
  width: 100%;
  border-collapse: collapse;
  margine-top: 20px;
}

th,td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color:#f4f4f4;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.problems {
  display: block;
  width: 96px;
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button {
  background-color: #005b3;
}